@import "tailwindcss";

body {
  font-family: Inter, sans-serif;
}

h1 > span {
  color: #00000080;
}

h2 > span {
  color: #00000080;
}

.container {
  margin: auto;
  padding: 0 15px;
}

.location-images-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.location-small {
  width: 64px;
  height: 64px;
}

.location-big {
  width: 110px;
  height: 110px;
}

.code-interface {
  max-height: 176px;
  padding-left: 32px;
  display: flex;
  position: relative;
  flex-flow: column;
  flex: 1 1 0%;
  overflow: hidden;
}

.code-interface-header {
  border: 1px solid #00000012;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0 10px 20px;
  border-top-left-radius: 20px;
}

.code-interface-content {
  border: 1px solid #00000012;
  background: #fff;
  display: flex;
  flex-flow: column;
}

.code-interface-text {
  padding: 10px 0px 10px 20px;
  font-size: 14px;
  color: #00000059;
  font-weight: 500;
}

.code-interface-overlay {
  z-index: 10;
  background-image: linear-gradient(
    90deg,
    var(--transparent-grey),
    var(--grey)
  );
  width: 136px;
  height: 100%;
  position: absolute;
  inset: 0% 0% 0% auto;
}

pre code {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.round-bullets {
  background-color: #00000012;
  border-radius: 100%;
  width: 8px;
  height: 8px;
}

.round-bullets-dark {
  background-color: #00000059;
  border-radius: 100%;
  width: 8px;
  height: 8px;
}

.secondRow .left {
  height: -webkit-fill-available;
}

.pill {
  background-color: #fff;
  display: inline-block;
  padding: 5px 10px 5px 10px;
}

.tech-section-content p {
  font-size: 14px;
  font-weight: 600;
}

.tech-header {
  margin-bottom: 20px;
  font-size: 14px;
  color: #00000059;
  font-weight: 600;
}

.tech-list{
  display: flex;
  flex-direction: column;
}

.tech-blocks{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  gap: 20px;
  position: relative;
}

.tech-blocks::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}

.tech-block-content span{
  font-size: 14px;
  color: #00000059;
  font-weight: 600;
}

@media (max-width: 767px) {
  .content-style h1 {
    font-size: 32px;
    font-weight: 600;
    margin: 10px 0;
  }
  .content-style h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
  }
}

@media (min-width: 768px) {
  .content-style h1 {
    font-size: 32px;
    font-weight: 600;
    margin: 10px 0;
  }

  .content-style h2 {
    font-size: 36px;
    font-weight: 600;
  }

  .content-style h3 {
    font-size: 24px;
    font-weight: 600;
  }
}

@media (min-width: 1024px) {
  .content-style h1 {
    font-size: 48px;
    font-weight: 600;
    margin: 10px 0;
  }

  .container {
    margin: auto;
    padding: 0 15px;
  }
}
