@import "tailwindcss";

body {
  font-family: Inter, sans-serif;
}

.container {
  width: 400;
  margin: auto;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .content-style h1 {
    font-size: 32px;
    font-weight: 600;
    margin: 10px 0;
  }
}

@media (min-width: 768px) {
  .content-style h1 {
    font-size: 48px;
    font-weight: 600;
    margin: 10px 0;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1080px;
    margin: auto;
    padding: 0 15px;
  }
}
